@page
@model RazorPagesMovie.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@Model.MovieTitle</h2>

@if (!string.IsNullOrEmpty(Model.PosterUrl))
{
    <img src="@Model.PosterUrl" alt="Poster" style="max-width:300px;" />
}
